.newsColumn > h2 {
  margin: 0;
  color: #222;
  font-family: Escrow Condensed,Georgia,serif;
  cursor: pointer;
  font-size: 36px;
  line-height: 33px;
  font-weight: 600;
}

.newsColumn > h2:hover {
  color: #0080c3;
}

.newsColumn > p {
  margin: 0;
  margin-top: 0.3rem;
  font-weight: 400;
  font-family: Exchange,Georgia,serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
} 

p > span {
  margin: 0 0.8rem;
  margin-top: 0.6rem;
}


p > span > small {
  margin-left: 0.3rem;
  position: relative;
  bottom: 0.1rem;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  font-weight: 400;
}

p > span > small > span {
  position: relative;
  bottom: 0.125rem;
}

.newsColumn > ul {
  margin: 0.8rem 0;
  padding-left: 1rem;
  padding-right: 10px;
  color: grey;
  line-height: 16px;
}

.newsColumn > ul > li {
  color: black;
  margin: 0.4rem 0;
  position: relative;
  bottom: 0.2rem;
  cursor: pointer;
  font-family: Exchange, georgia, times, メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", ＭＳＰゴシック, "MS PGothic", serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 540;
  letter-spacing: -0.1px;
}

.newsColumn > ul > li:hover {
  color: #0080c3;
}

.newsColumn > hr {
  border: none;
  height: 0.5px;
  background: #ccc;
}

.newsColumn > .news-box > h3 {
  margin: 0;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.newsColumn > .news-box > h3:hover {
  color: #0080c3;
}

.newsColumn > .news-box > .news-details-img {
  display: flex;
  gap: 1.2rem;
}

.newsColumn > .news-box > .news-details-img > p {
  width: 55%;
  margin: 0;
  font-weight: 400;
  font-family: Exchange,Georgia,serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.newsColumn > .news-box > .news-details-img > img {
  width: 35%;
  object-fit: cover;
  cursor: pointer;
}


.news-box > .news-details > p {
  margin: 0;
  font-weight: 400;
  font-family: Exchange,Georgia,serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}
