@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

header {
  font-family: Retina,Arial,Helvetica,sans-serif;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  max-width: 1280px;
  width: 100%;
}

header > .main-heading {
  display: flex;
  position: relative;
  margin: 0rem 0.5rem;
  justify-content: center;
}

.main-heading > .page-heading {
  cursor: pointer;
  font-size: 0rem;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Old Standard TT', serif;
  font-weight: bold;
  
}

.main-heading > .page-heading > img {
  margin: 0.4rem 0;
  width: 224px;
}

.main-heading > .side-options {
  position: absolute;
  top: 12px;
  right: 0px;
  font-weight: 300;
  font-size: 12px;
  font-family: Retina,Arial,Helvetica,sans-serif;
  line-height: 12px;
  color: #555;
  cursor: pointer;
  left: auto;
  height: 20px;
}

.main-heading > .side-options > .subscribe {
  border-right: 1px solid #ccc;
  padding: 0.5em 0;
  padding-right: 0.7em;
}

.main-heading > .side-options > .subscribe:hover {
  color: #0080c3;
}

.main-heading > .side-options > .sign-in {
  padding: 0.5em 0;
  padding-left: 0.7em;
}

.main-heading > .side-options > .sign-in:hover {
  color: #0080c3;
}


/* menu option */
header > .menu-options {
  display: flex;
  position: relative;
  margin: 0.2rem 0.5rem;
  justify-content: center;
}

.menu-options > ul {
  list-style-type: none;
  margin: 0 auto;
  position: relative;
  right: 1.8rem;
}

.menu-options > ul > li {
  display: inline;
  padding: 0 9.5px;
  font-size: 14px;
  font-weight: 400;
  font-family: Retina,Arial,Helvetica,sans-serif;
  color: #555;
  text-decoration: none;
  cursor: pointer;
}

.menu-options > ul > li:hover {
  color: black;
}

.menu-options > .search-option {
  position: absolute;
  bottom: 0.2rem;
  right: 0px;
  font-size: 11px;
  font-weight: 400;
  color: #555;
  cursor: pointer;
}

header > hr {
  border: none;
  height: 1.5px;
  background: lightgrey;
  margin: 0.5rem 0;
  width: 1350px;
}