.galleryColumn {
  margin: 0 0.5rem;
}

.galleryColumn > .gallery-news > img {
  margin: 0 3%;
  width: 94%;
  height: 110px;
  object-fit: cover;
  cursor: pointer;
}

.galleryColumn > .gallery-news > h2 {
  margin: 0;
  margin: 0.5rem 0;
  font-size: 0.75rem;
  font-weight: bold;
  font-family: Escrow Condensed,Georgia,serif;
  text-align: left;
  cursor: pointer;
}

.galleryColumn > .gallery-news > h2:hover {
  color: blue;
}

.galleryColumn > .gallery-news > .clock {
  font-size: 0.75rem;
  text-align: left;
  color: grey;
}

.galleryColumn > .gallery-news > .clock > span {
  margin-left: 0.2rem;
}