.App {
  text-align: center;
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

hr {
  border: none;
  height: 1px;
  background: #ccc;
  margin: 0.5rem 0;
}



